src/main/resources/categories.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://spring.io/guides/gs-producing-web-service/categories"
           targetNamespace="http://spring.io/guides/gs-producing-web-service/categories"
           elementFormDefault="qualified">

    <xs:complexType name="category">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getCategoryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCategoryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="category" type="tns:category"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
